.headerViewNone {
    display: none;

}
.headerView {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--tro-blue);
    overflow-y: hidden;
    transition: all 500ms;
}
