.right {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(234, 192, 170, 0.5)),url('../../assets/images/circle-logo.png');
    background-repeat: no-repeat;
    background-position: right bottom; /* Positions the image at the bottom-left */
  background-size: contain; /* Adjust to scale the image as needed */

}
